<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" rel="shortcut icon">
    <link type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" rel="icon">
    <title>WorkerRegistration</title>
</head>
<body>
<div class="registration-cssave">
    <form method="post" action="/WorkersReg/">
        <h3 class="text-center">Пожалуйста, введите дополнительные данные для категории "Соискатель на работу"</h3>

<h4> Выберете свое направление</h4>
        <div class="form-group">
            <input class="form-control item" type="radio" name="workType" id="celxoz" value="celxoz">
            <label for="celxoz"> Сельхоз. работник</label>
            <input class="form-control item" type="radio" name="workType" id="storoz" value="storoz">
            <label for="storoz"> Сторож </label>
            <input class="form-control item" type="radio" name="workType" id="helperBeek" value="helperBeek">
            <label for="helperBeek"> Помошник пчеловода </label>
            <input class="form-control item" type="radio" name="workType" id="stolyr" value="stolyr">
            <label for="stolyr"> Столяр </label>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Регистрация</button>
        </div>
    </form>
</div>
</body>
</html>