<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" rel="shortcut icon">
    <link type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" rel="icon">
    <title>Login</title>
</head>
<body>

<div class="header">
    <ol>
        <li>  <button class="header-buttons" onclick="document.location='selectRegion.html'">Выбор региона</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='whoami.html'">Кто я</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='beekeepers.html'">Пчеловод</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='farmers.html'">Фермер</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='advertisers.html'">Рекламодатель</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='workers.html'">Соискатель на работу</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='roscoltrol.html'">Надзор</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='index.html'">О нас</button> </li>
    </ol>
</div>

<div class="registration-cssave">
    <form method="post" action="login.html">
        <h3 class="text-center">Форма входа</h3>
        <div class="form-group">
            <input class="form-control item" type="text" name="lastName" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="lastName" placeholder="Фамилия">
        </div>
        <div class="form-group">
            <input class="form-control item" type="text" name="firstName" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="firstName" placeholder="Имя">
        </div>
        <div class="form-group">
            <input class="form-control item" type="text" name="secondName" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="secondName" placeholder="Отчество">
        </div>
        <div class="form-group">
            <input class="form-control item" type="text" name="loginName" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="loginName" placeholder="login" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="tel" name="phone"  id="phone" placeholder="+X XXX XXX-XX-XX">
        </div>
        <div class="form-group">
            <input class="form-control item" type="password" name="password" minlength="6" id="password" placeholder="Пароль" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="email" name="email" id="email" placeholder="Email" required>
        </div>

      <div class="form-group">
            <input class="form-control item" type="radio" name="work" id="beekeepers" value="beekeepers">
            <label for="beekeepers"> Вы -- пчеловод</label>
            <input class="form-control item" type="radio" name="work" id="farmers" value="farmers">
            <label for="farmers"> Вы -- фермер </label>
            <input class="form-control item" type="radio" name="work" id="workers" value="workers">
            <label for="workers"> Вы -- соискатель на работу </label>
            <input class="form-control item" type="radio" name="work" id="advertisers" value="advertisers">
            <label for="advertisers"> Вы -- рекламодатель </label>
        </div>

        <div class="form-group">
            <label for="numberOfPassportofPasika"> Введите номер паспорта пасеки </label>
            <input class="form-control item" type="number" name="numberOfPassportofPasika" id="numberOfPassportofPasika">
        </div>

        <div class="form-group">
            <label for="numberOfFamily"> Введите количество семей пчел </label>
            <input class="form-control item" type="number" name="numberOfFamily" id="numberOfFamily">
        </div>

        <div class="form-group">
            <input class="form-control item" type="radio" name="isStat" id="stat" value="stat">
            <label for="stat"> Стационар </label>
            <input class="form-control item" type="radio" name="isStat" id="noStat" value="noStat">
            <label for="noStat"> Кочевка </label>
        </div>

        <div class="form-group">
            <input class="form-control item" type="checkbox" name="hasMoveablePlotform" id="hasMoveablePlotform" value="yes">
            <label for="hasMoveablePlotform"> Имеются ли передвижные платформы (галочка активна -- да, не активна -- нет) </label>
        </div>
        <div class="form-group">
            <input class="form-control item" type="radio" name="purpose" id="med" value="med">
            <label for="med"> Цель: медовое направление</label>
            <input class="form-control item" type="radio" name="purpose" id="razvod" value="razvod">
            <label for="razvod"> Цель: Разведение </label>
            <input class="form-control item" type="radio" name="purpose" id="opul" value="opul">
            <label for="razvod"> Цель: Опыление </label>
        </div>

        <div class="form-group">
            <input class="form-control item" type="text" name="about" maxlength="350" minlength="0" id="about" placeholder="Расскажите о себе">
        </div>
        <div class="form-group">
            <input class="form-control item" type="radio" name="loginOrReg" id="login" value="login" required>
            <label for="login"> Я захожу в учетнаю запись </label>
            <input class="form-control item" type="radio" name="loginOrReg" id="reg" value="registr" required>
            <label for="reg"> Я создаю учетнаю запись </label>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Вход в аккаунт/Регистрация</button>
        </div>
    </form>
</div>

</body>
</html>