<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" rel="shortcut icon">
    <link type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" rel="icon">
    <title>Not Autorise!</title>
</head>
<body>
<div class="header">
    <ol>
        <li>  <button class="header-buttons" onclick="document.location='selectRegion.html'">Выбор региона</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='whoami.html'">Кто я</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='beekeepers.html'">Пчеловод</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='farmers.html'">Фермер</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='advertisers.html'">Рекламодатель</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='workers.html'">Соискатель на работу</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='roscoltrol.html'">Надзор</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='index.html'">О нас</button> </li>
    </ol>
</div>

<div class="main-text">
    <h1>Вы не авторизованны.
    <br> Пожалуйста, залогиньтесь!
    </h1>
</div>>
</body>
</html>