<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" rel="shortcut icon">
    <link type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" rel="icon">
    <title>Who am I</title>
</head>
<body>
<div class="header">
    <ol>
        <li>  <button class="header-buttons" onclick="document.location='selectRegion.html'">Выбор региона</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='whoami.html'">Кто я</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='beekeepers.html'">Пчеловод</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='farmers.html'">Фермер</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='advertisers.html'">Рекламодатель</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='workers.html'">Соискатель на работу</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='roscoltrol.html'">Надзор</button> </li>
        <li>  <button class="header-buttons" onclick="document.location='index.html'">О нас</button> </li>
    </ol>
</div>

<div class="main-text">
        <h1> {{who["Name"]}}</h1>
    <div class="table-of-contacts">
        <table>
            <tr>
                <th>Должность</th>
                <th>Email</th>
                <th>Телефон</th>
            </tr>
            <tr>
                <td>{{ who["Work"] }}</td>
                <td>{{ who["Email"] }}</td>
                <td>{{ who["Telephon"] }}</td>
            </tr>
        </table>
    </div>
    <div class="about"> <h2>О себе: </h2>{{ who["About"] }} </div>
    <div class="numberOfPassportofPasika"> <h3>Паспорт пасеки №: {{ who["numberOfPassportofPasika"] }}</h3> </div>
    <div class="numberOfFamaly"> <h3> Количество семей: {{ who["numberOfFamaly"] }} </h3> </div>
    <div class="isStat"> <h3> Стационар или кочевка: {{ who["isStat"] }} </h3> </div>
    <div class="hasMoveablePlotform"> <h3> Указать наличие передвижных платформ при наличие: {{ who["hasMoveablePlotform"] }} </h3> </div>
    <div class="Purpose"> <h3> Цель разведения пчел: {{ who["purpose"] }} </h3> </div>

{%if not (ads == None)%}
<h3>Ваши объявления</h3>
     <div class="table-of-contacts">
        <table>
            <tr>
                <th>Заголовок</th>
                <th>Адрес</th>
                <th>Подрробности</th>
            </tr>
            {% for a in ads %}
            <tr>
                <td>{{ a["Title"] }}</td>
                <td>{{ a["Adres"] }}</td>
                <td>{{ a["About"] }}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
{%endif%}
{%if ads == None%}
<h3> У Вас нет Объялений о продажах </h3>
{%endif%}
</div>
</div>
</body>
</html>